body,
html {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat", "Sen", sans-serif;
}
:root {
    --main-bg-color: #fffcf4;
}
.content {
    /* width: 1170px; */
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.btn {
    min-width: 118px;
    display: inline-block;
    background-color: #ffb900;
    line-height: 50px;
    border-radius: 26px;
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.heading {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
}
.desc {
    color: #5f5b53;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    background: var(--main-bg-color);
}
.header .body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 36px 0;
}
.header .nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header .nav li a {
    position: relative;
    padding: 0 21px;
    color: #5f5b53;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.header .nav li.active a {
    color: #171100;
    font-weight: 600;
}
.header .nav li.active a::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 12px;
    background: #000;
    bottom: -3px;
    left: 20px;
    border-radius: 999px;
}
.header .action {
    margin-left: 49px;
}
.btn-sign-up {
    min-width: 144px;
    background: #171100;
    border-radius: 24.5px;
    transition: ease 0.5s;
}
.btn-sign-up:hover {
    background-color: #ffb900;
}
.hero {
    background: var(--main-bg-color);
    padding-top: 28px;
    padding-bottom: 65px;
}
.hero .body {
    display: flex;
}
.media-block {
    position: relative;
    width: 50%;
}
.media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.media-block .hero-summary {
    position: absolute;
    background: #fff;
    padding: 24px 50px 24px 24px;
    bottom: 48px;
    right: -80px;
    border-radius: 12px;
    box-shadow: 5px 10px 10px #ccc;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item:not(:last-child) {
    margin-bottom: 14px;
}
.hero-summary .icon {
    background-color: var(--main-bg-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.hero-summary .desc {
    color: #5f5b53;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}
.hero-summary .sub-title {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}
.content-block {
    width: 50%;
    padding: 64px 0 0 201px;
}
.content-block .heading {
    color: #171100;
    font-family: Sen;
    font-size: 58px;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}
.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.content-block .cta {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.content-block .cta .btn {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
}
.content-block .btn-watching {
    margin-left: 28px;
    display: flex;
    align-items: center;
}
.btn-watching .watching {
    margin-left: 14px;
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.courses {
    padding: 200px 0;
}
.courses .course-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses .info .desc {
    margin-top: 26px;
    color: #5f5b53;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.course-top .controls {
    display: flex;
    align-items: center;
}
.course-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ffb900;
    cursor: pointer;
    color: #ffb900;
}
.course-top .control-btn:hover {
    background: #ffb900;
    color: #fff;
}
.courses-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.courses-list .item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.courses-list .item .thumb {
    height: 278px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.courses-list .item .info {
    padding: 22px;
}
.courses-list .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-list .item .title {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}
.courses-list .item:hover {
    box-shadow: 1px 10px 20px #ccc;
}
.courses-list .item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}
.courses-list .item .star {
    color: #ffb900;
}
.courses-list .info .foot {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-list .price {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}
.courses-list .btn-book {
    font-size: 14px;
    min-width: 118px;
    background: #171100;
}
.courses-list .btn-book:hover {
    background: #ffb900;
}

.testimonial {
    background: #2e2100;
    color: #fff;
}
.testimonial-list {
    padding: 96px 0;
}
.testimonial-list .item {
    display: flex;
    align-items: center;
}
.testimonial .info {
    width: 35%;
}
.testimonial .comment {
    width: 65%;
}
.testimonial .avatar img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial .info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
}
.testimonial .info .job {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.testimonial .comment p {
    position: relative;
    padding-left: 30px;
    padding-top: 28px;
    color: #fff;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}
.testimonial .comment p::before {
    content: "";
    position: absolute;
    background: url(../img/mark.svg);
    display: inline-block;
    top: 0;
    left: 0;
    height: 28px;
    width: 30px;
}

/* Featured */
.featured {
    padding: 200px 0 100px;
}
.featured .body {
    display: flex;
    justify-content: space-between;
}
.featured .images {
    display: flex;
    position: relative;
    gap: 0 30px;
}
.featured img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.featured img:first-child {
    margin-top: 34px;
}
.featured .info {
    padding-left: 122px;
    padding-top: 58px;
}
.featured .info .desc {
    margin-top: 16px;
}
.featured .info .btn {
    min-width: 137px;
    margin-top: 32px;
}

.featured-second {
    padding: 100px 0;
}
.featured-second .body {
    display: flex;
    align-items: center;
}
.featured-second .thumb {
    padding-left: 122px;
}
.featured-second img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}
.featured-second .desc {
    margin-top: 16px;
}
.featured-second .btn {
    margin-top: 32px;
    min-width: 137px;
}

.blog {
    margin-top: 100px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .heading {
    text-align: center;
}
.blog .desc {
    display: block;
    width: 448px;
    margin: 16px auto auto;
    text-align: center;
}
.blog .list-blog {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 16px;
    transition: ease 0.5s;
}
.blog .item a {
    text-decoration: none;
}
.blog .thumb {
    width: 100%;
    border-radius: 12px 12px 0 0;
}
.blog .item .info {
    padding: 20px 20px 28px 20px;
}
.blog .item .date {
    position: relative;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    color: #5f5b53;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}
.blog .item .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}
.blog .item .date::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 160px;
    height: 1px;
    background-color: #e2dfda;
}
.blog .item .title {
    padding: 12px 0;
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}
.blog .item:hover {
    box-shadow: 1px 10px 15px #ccc;
}

/* footer */
.footer {
    background: #2e2100;
    padding-top: 96px;
}
.footer .row {
    display: flex;
}
.footer .column {
    width: 21.6%;
}
.footer .column:first-child {
    width: 35%;
}
.footer .desc {
    margin: 18px 0;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}
.footer .social {
    display: flex;
    align-items: center;
    color: #fff;
}
.footer .social li {
    margin-right: 12px;
}
.footer .social li a {
    color: #fff;
}
.footer .title {
    position: relative;
    padding-bottom: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
}
.footer .title::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 130px;
    background: #59554b;
    bottom: 0;
    left: 0;
}
.footer .list {
    margin-top: 28px;
}
.footer .list a {
    margin-bottom: 12px;
    display: inline-block;
    text-decoration: none;
    color: #bfbcb2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}
.footer .list span {
    color: #bfbcb2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}
.footer .list strong {
    color: #fff;
    font-weight: 600;
}
.footer .row:first-child {
    padding-bottom: 38px;
    position: relative;
}
.footer .row:first-child::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #59554b;
}
.footer .copy-right {
    padding: 28px 0;
    text-align: center;
    margin: 0 auto;
    color: #807d74;
    font-size: 14px;
    font-weight: 400;
}
.icon-menu {
    display: none;
}
@media screen and (min-width: 1259px) {
    .content {
        width: 1170px;
    }
}
@media screen and (max-width: 479px) {
    .header .nav {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.5s ease;
        display: block;
    }
    .header .action {
        display: none;
    }
    .hero .body {
        display: block;
    }
    .media-block {
        width: 100%;
    }
    .media-block .img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .media-block .hero-summary {
        min-width: 220px;
        padding: 12px;
        bottom: -42px;
        right: 12px;
    }
    .content-block {
        width: 100%;
        padding: 0;
        margin-top: 70px;
    }
    .content-block .heading {
        font-size: 40px;
        line-height: 1.3;
    }
    .courses {
        padding: 32px 0;
    }
    .courses-list {
        flex-wrap: wrap;
    }
    .featured {
        padding: 40px 0 40px;
    }
    .featured .body {
        display: block;
    }
    .featured img {
        width: 47%;
        height: 320px;
    }
    .featured .info {
        padding-left: 0;
    }
    .featured-second .body {
        flex-wrap: wrap-reverse;
    }
    .featured-second .thumb {
        padding-left: 0;
    }
    .featured-second img {
        width: 100%;
    }
    .featured .info,
    .featured-second .info {
        padding-top: 36px;
    }
    .featured-second {
        padding: 40px 0;
    }
    .blog {
        margin-top: 0;
        padding: 40px 0;
    }
    .blog .desc {
        width: 100%;
    }
    .blog .item {
        width: 100%;
    }
    .footer .row {
        flex-wrap: wrap;
    }
    .footer .column {
        width: 50%;
    }
    .footer .list li {
        width: 50%;
    }
    .footer .column:first-child,
    .footer .column:last-child {
        width: 100%;
    }
    .footer .desc {
        width: 100%;
    }
    .icon-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 15px;
    }
    .header .nav li a {
        padding: 0;
        margin: 12px 0;
    }
    .header .nav li {
        margin-bottom: 20px;
    }
    .nav.show {
        transform: translateX(0);
    }
    .testimonial .comment p {
        font-size: 15px;
        --line-clamp: 8 !important;
    }
}
